<p>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#companyModal"
            data-ng-click="vm.prepare()">
        <i class="glyphicon glyphicon-plus"></i>
        New company
    </button>
</p>

<table class="table table-responsive">
    <tr>
        <th>shortName</th>
        <th>fullName</th>
        <th>type</th>
        <th>address</th>
        <th>description</th>
        <th></th>
    </tr>
    <tr data-ng-repeat="company in vm.companies">
        <td>{{company.shortName}}</td>
        <td>{{company.fullName}}</td>
        <td>{{company.type}}</td>
        <td>{{company.address}}</td>
        <td>{{company.description}}</td>
        <td>
            <button type="button" class="btn btn-link pull-right"
                    data-ng-click="vm.remove(company)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#companyModal"
                    data-ng-click="vm.prepare(company)">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
        </td>
    </tr>
</table>


<div class="modal fade" id="companyModal" role="dialog" aria-labelledby="companyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="companyModalLabel">{{vm.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="companyForm">
                    <!--shortName-->
                    <div class="form-group has-feedback"
                         data-ng-class="companyForm.shortName.$error.required ? 'has-error' : 'has-success'">
                        <label for="shortName" class="control-label">shortName</label>
                        <input type="text" autofocus id="shortName" name="shortName" class="form-control" data-ng-model="vm.company.shortName"
                               required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="companyForm.shortName.$error.required ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </div>
                    <!--fullName-->
                    <div class="form-group has-feedback"
                         data-ng-class="companyForm.fullName.$error.required ? 'has-error' : 'has-success'">
                        <label for="fullName" class="control-label">fullName</label>
                        <input type="text" autofocus id="fullName" name="fullName" class="form-control" data-ng-model="vm.company.fullName"
                               required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="companyForm.fullName.$error.required ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </div>
                    <!--type-->
                    <div class="form-group has-feedback"
                         data-ng-class="companyForm.type.$error.required ? 'has-error' : 'has-success'">
                        <label for="type" class="control-label">type</label>
                        <input type="text" autofocus id="type" name="type" class="form-control" data-ng-model="vm.company.type"
                               required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="companyForm.type.$error.required ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </div>
                    <!--address-->
                    <div class="form-group has-feedback"
                         data-ng-class="companyForm.address.$error.required ? 'has-error' : 'has-success'">
                        <label for="address" class="control-label">address</label>
                        <input type="text" autofocus id="address" name="address" class="form-control" data-ng-model="vm.company.address"
                               required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="companyForm.address.$error.required ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </div>
                    <!--description-->
                    <div class="form-group has-feedback"
                         data-ng-class="companyForm.shortName.$error.required ? 'has-error' : 'has-success'">
                        <label for="description" class="control-label">description</label>
                        <input type="text" autofocus id="description" name="description" class="form-control" data-ng-model="vm.company.description"
                               required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="companyForm.description.$error.required ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-danger" data-toggle="modal" data-target="#removeModal"
                                    data-ng-show="vm.control == 'update'"
                                    data-ng-click="vm.prepare(vm.company)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>-->
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-dismiss="modal"
                        data-ng-disabled="companyForm.$invalid"
                        data-ng-click="vm.company.id ? vm.update() : vm.create()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>