<p>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#userModal"
            data-ng-click="vm.prepare()">
        <i class="glyphicon glyphicon-plus"></i>
        New user
    </button>
</p>

<table class="table table-responsive">
    <tr>
        <th>login</th>
    </tr>
    <tr data-ng-repeat="user in vm.users">
        <td>{{user.login}}</td>
        <td>
            <button type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#userModal"
                    data-ng-click="vm.prepare(user)">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button type="button" class="btn btn-link pull-right"
                    data-ng-click="vm.remove(user)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </td>
    </tr>
</table>