<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Short name</th>
                <th>Full name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contact in vm.contacts track by $index">
                <td>{{contact.shortName}}</td>
                <td>{{contact.fullName}}</td>
                <td>{{contact.type}}</td>
                <td>{{contact.description}}</td>
                <td>{{contact.address}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>